<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colin.questionapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Permission for alarm to vibrate the phone -->
        <uses-permission android:name="android.permission.VIBRATE" />

        <!-- Permission for alarm to wake up the phone -->
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <!-- Same thing, not sure what this does yet -->
        <receiver android:process=":remote" android:name=".AlarmReceiver" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!-- Permission for TEST BUTTON to vibrate the phone -->
            <uses-permission android:name="android.permission.VIBRATE" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.colin.questionapp.MainActivity" />
        </activity>
    </application>

</manifest>
